/* Error: It's not clear which file to import. Found:
 *   src\sections\_header.scss
 *   src\sections\header.scss
 *   ,
 * 3 | @use './header.scss';
 *   | ^^^^^^^^^^^^^^^^^^^^
 *   '
 *   src\sections\main.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   src\\sections\\_header.scss\a   src\\sections\\header.scss\a   \2577 \a 3 \2502  @use './header.scss';\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\sections\\main.scss 3:1  root stylesheet";
}
