<%- include('partials/header'); %>
<main>
        <div class="breakfast-movie">
            <!-- This section needs to be automated with JS, for now is placeholder DOM elements-->
            <img class="breakfast-movie__img" src="assets/bistro-ac00.png" alt="Kino Lycksele Café & Bistro">
            <div class="breakfast-movie__text">
                <h1 class="breakfast-movie__text--headline">Presenterar Frukostbio</h1>
                <img class="breakfast-movie-choices-image" src="assets/breakfast-movie-ac01.png" alt="Presentation av frukost-film paketerbjudande">
                <div class="breakfast-movie__text-info">
                    Kom och se en biofilm och njut av vår frukostmeny!
                    Välj en av våra frukost-filmer och vilket frukostpaket du vill ha, 
                    klicka sedan på knappen för att fylla i din information och boka din plats <em>(just nu kan detta endast bokas på plats)</em>
                </div>
            </div>
            
            <form class="breakfast-movie-choices" action="" target="_blank" method="post">
                <h2 class="breakfast-movie-choices-header">Frukostfilmer</h2>
                <span class="breakfast-movie-choices-selector">
                    <img class="breakfast-movie-choices-pic" src="assets/breakfast-movie-bd01.png" alt="Filmaffisch Superman"></br>
                    <input type="radio" id="movie-choice1" name="bf-movie" value="movie-choice1"><br>
                    <label for="movie-choice1">Superman</label>
                </span>
                
                <span class="breakfast-movie-choices-selector">
                    <img class="breakfast-movie-choices-pic" src="assets/breakfast-movie-bd02.png" alt="Filmaffisch The Godfather"></br>
                    <input type="radio" id="movie-choice2" name="bf-movie" value="movie-choice2"><br>
                    <label for="movie-choice2">Gudfadern</label>
                </span>
                
                
                <span class="breakfast-movie-choices-selector">
                    <img class="breakfast-movie-choices-pic" src="assets/breakfast-movie-bd03.png" alt="Filmaffisch Star Wars Episode X"></br>
                    <input type="radio" id="movie-choice3" name="bf-movie" value="movie-choice3"><br>
                    <label for="movie-choice3">Star Wars Episode X: Echoes The Force</label>
                </span>
               
                <span class="breakfast-movie-choices-selector">
                    <img class="breakfast-movie-choices-pic" src="assets/breakfast-movie-bd04.png" alt="Filmaffisch Thunderbolts"></br>
                    <input type="radio" id="movie-choice4" name="bf-movie" value="movie-choice4"><br>
                    <label for="movie-choice4">Thunderbolts</label>
                </span>
               
                <!-- -- -->
                <h2 class="breakfast-movie-choices-header">Frukostval</h2>
                <span class="breakfast-movie-choices-selector">
                    <img class="breakfast-movie-choices-pic" src="assets/breakfast-product-ac1_coffee.jpg" alt="En kopp cappucino"></br>
                    <input type="radio" id="food-choice1" name="breakfast-choice" value="food-choice1">
                    <label for="food-choice1">Valfritt kaffe med tillbehör</label>
                </span>                
                
                <span class="breakfast-movie-choices-selector">
                    <img class="breakfast-movie-choices-pic" src="assets/breakfast-product-ac2_scrambled-eggs.png" alt="En tallrik äggröra med tomat och spenat"></br>
                    <input type="radio" id="food-choice2" name="breakfast-choice" value="food-choice2">
                    <label for="food-choice2">Äggröra med grönsaker och valfri dryck</label>
                </span>
                
                <span class="breakfast-movie-choices-selector">
                    <img class="breakfast-movie-choices-pic" src="assets/breakfast-product-ac3_scrambled-eggs-with-avocado-and-bacon.png" alt="En tallrik äggröra med avocado och bacon"></br>
                    <input type="radio" id="food-choice3" name="breakfast-choice" value="food-choice3">
                    <label for="food-choice3">Äggröra med avocado, bacon och valfri dryck</label>
                </span>
                
                <span class="breakfast-movie-choices-selector">
                    <img class="breakfast-movie-choices-pic" src="assets/breakfast-product-ac4_bagel.png" alt="En smörgås med skinka, ost, sallad och tomat"></br>
                    <input type="radio" id="food-choice4" name="breakfast-choice" value="food-choice4">
                    <label for="food-choice4">Bagel med skinka, ost, sallad, tomat och valfri dryck</label>
                </span>
                
                <input class="breakfast-movie-choices-submit" type="submit" value="Boka film med frukost" disabled>
            </form>
        </div>
    </main>
<%- include('partials/footer'); %>