<%- include('header') %>
    <h1>En filmlista</h1>
    <ul>
      <% list.forEach(element => { %>
        <li><a href="/movies/<%= element.id %>"><%= element.title %></a></li>
      <% }); %>
    </ul>
<%- include('footer') %>