<%- include('partials/header') %>
<main> 
  <section class="movielist">
    <h1>En filmlista</h1>
    <ul>
      <% list.forEach(element => { %>
      <li><a href="/movies/<%= element.id %>"><%= element.title %></a></li>
      <% }); %>
    </ul>
  </section>
</main>
<%- include('partials/footer') %>