<!-- singlemoviepres.ejs -->
<!-- Single movie presentation, this file should be used instead of onemovie.ejs -->
<%- include('partials/header'); %>

<main class="container">
    <section id="movieinformation"> <!-- id is only to identify what section should contain -->

    </section>
    <section id="movie_rating"> <!-- id is only to identify what section should contain -->

    </section>
    <section id="coming_screenings"> <!-- id is only to identify what section should contain -->

    </section>
    <section id="movie_reviews"> <!-- id is only to identify what section should contain -->

    </section>
    <section id="user_review"> <!-- id is only to identify what section should contain -->

    </section>
</main>

<%- include('partials/footer'); %>