<!-- singlemoviepres.ejs -->
<!-- Single movie presentation, this file should be used instead of onemovie.ejs -->
<%- include('partials/header'); %>

<main class="container">
    <section id="movieinformation" data-movie-id="<%= movieId %>"> <!-- id is only to identify what section should contain -->

    </section>
    <section id="movie_rating"> <!-- id is only to identify what section should contain -->

    </section>
    <section id="coming_screenings"> <!-- id is only to identify what section should contain -->
        
    </section>
    <section id="movie_reviews"> <!-- id is only to identify what section should contain -->
        <article>
            <button type="button" id="back-button" class="reviews-button" disabled>&lt;</button>
            <ul class="reviews-one-movie" data-movie-id="<%= movieId %>">
                <!-- Code injected by browser script-->
            </ul>
            <button type="button" id="forward-button" class="reviews-button" enabled>&gt;</button>
        </article>
    </section>
    <section id="user_review"> <!-- id is only to identify what section should contain -->

    </section>
</main>

<%- include('partials/footer'); %>