@use "../lib/variables_mixins" as *;

body {
  min-height: 100dvh;
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  padding-top: 50px;
  overflow-x: hidden;
  .header__theme-btn--dark {
    display: inline-grid;
  }

  .header__theme-btn--light {
    display: none;
  }
}

.container {
  padding: 0 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.close-btn {
  position: absolute;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

// Header Styles
.auth-buttons {
  .btn_login {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .btn_join {
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
