@use '../lib/variables_mixins' as *;
// Footer
.footer {
    &__container {
        background-color: $footer-bg;
        color: $text-white;
        padding-top: 15px;
        border-radius: 40px 40px 0 0;
        margin-top: 20px;
    }
    
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-bottom: 10px;
    }
    
    &__section {
        flex: 1 1 200px;
        padding: 1rem 2rem;
        
        h3 {
            font-size: 1.6rem;
        }
        
        ul li {
            text-decoration: underline;
            list-style: none;
        }
    }
    
    &__links {
        list-style: none;
        padding: 0;
        line-height: 2;
        
        a {
            color: var(--text-muted);
            text-decoration: none;
        }
    }
}

.social {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
    
    a {
        color: var(--text-white);
    }
}

// Newsletter Styling
.newsletter {
    text-align: center;
    
    &__input {
        padding: 0.5rem;
        width: 180px;
        border: none;
        border-radius: 4px;
        margin-right: 5px;
    }
    
    &__submit {
        background-color: var(--accent-red);
        color: $text-white;
        border: none;
        padding: 0.6rem;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        border: 1px solid $text-white;
    }
}