@use "sass:color";
@use '../lib/variables_mixins' as *;

// --- 1. GLOBAL THEME (Dark Mode Default) ---
body {
    background-color: $dark-bg;
    color: $text-white; // All text becomes white by default
}

h1, h2, .section_title, .film_title {
    color: $text-white;
}

.header {
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 3px solid $text-muted;
        border-radius: 0 0 20px 20px;
        color: $text-white; // Default white

        @media (min-width: 768px) {
            padding: 10px 40px;
        }
    }

    &__menu-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
        color: inherit; 
    }
}

.auth-buttons span, 
.auth-buttons a, 
.auth-buttons .btn_join {
    color: $text-white;
}


body.light {
    background-color: $light-bg !important;
    color: $light-text !important;

   
    h1, h2, 
    .section_title, 
    .film_title,
    .header__top,
    .header__menu-button,
    .auth-buttons span, 
    .auth-buttons a, 
    .auth-buttons .btn_join {
        color: $light-text !important;
    }

    .header__top {
        border-bottom-color: rgba(0, 0, 0, 0.1);
    }
    
    // Logos
    .header__logo { display: none !important; }
    .header__logo-light { display: block !important; }
}