@use '../lib/variables_mixins' as *;

.header {
  &__theme-btn {
    position: absolute; 
    top: 1.1rem;
    right: 4rem;
    z-index: 5;
    display: flex;
    gap: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__theme {
    box-shadow: none;
    border: none;
    background: rgba(0,0,0,0.4);
    border-radius: 2rem; 
  }

  &__theme-btn--light,
  &__theme-btn--dark {
    width: 2.5rem;
    height: 2.5rem; 
    border: none;
    background: transparent;
    display: grid;
    place-items: center;
    padding: 0;
  }

  &__theme-icon {
    width: 4rem; 
    height: 3rem;
    object-fit: contain;
  }
}


.header__theme-btn--dark { display: none; }
.header__theme-btn--light { display: inline-grid; }

body.light .header__theme-btn--dark { display: inline-grid; }
body.light .header__theme-btn--light { display: none; }
