 .footer_container {
  display: flex;
  flex-direction: column;
}

  .footer_content {
 display: grid;
  grid-template-columns: repeat(4, minmax(180px, 1fr));
  gap: 30px;
  padding: 30px;
  text-align: center;
  font-size: 14px;
  color: #fff;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.footer_links {
  a {
    color: inherit;
    text-decoration: underline;
  }
}

.social_links {
  display: flex;
  justify-content: center;
  gap: 40px;

  a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
  }
}

.footer_extra {
   display:block
    text-align: center;
    padding: 20px;
}



