@use '../lib/variables_mixins.scss' as *;

body {
  background-color: $dark-bg ;
  color: $dark-text;
}
.header {
    background-color: $dark-bg;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    height: 140px;
    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 270px;
        object-fit: contain;
        top: 1rem;
    }

    &__top {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
            bottom: 10px;
        }
    
    &__menu-button {
        background-color: transparent;
        color: $dark-text;
        font-size: 1.4rem;
        border: none;
        cursor: pointer;
        margin-right: auto;

    }
    &__auth {
        display: flex;
        align-items: center;
    }

    &__login--btn {
        background: transparent;
        color: #fff;
        border: none;
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
        cursor: pointer;
        text-transform: uppercase;
    } 
     &__login--out {
        background: transparent;
        color: #fff;
        border: none;
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
        cursor: pointer;
        text-transform: uppercase;
  }


.member__page {
  display: block;
  align-items: center;
  padding: 10rem 2rem;
 

.title { 
   margin: 2rem 0.5rem;
   font-size: 2.5rem;

}
&__Offers {
display: flex;
    gap: 1rem;
    align-items: center;

}

}
.review {
  display: block;
  align-self: auto;
  padding: 2rem 1rem 6rem 30rem;
  margin-top: 2rem;

&__form {
  margin-top: 2rem;
}
  &__field {
    margin-bottom: 1rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 2rem;
    font-family: sans-serif;
  }

  &__input {
    width: 35%;
    padding: 0.5rem;
    border-radius: 1rem;
  }


  &__btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    border-radius: 1rem;
    padding: 0.9rem;
    
  }
}
}