@use '../lib/variables_mixins' as *;

/* DEFAULT = DARK MODE */
body {
  background: $dark-bg;
  color: $dark-text;
}

/* LIGHT MODE */
body.light {
  background: $light-bg;
  color: $light-text;
}



.header {
  &__theme-btn {
    position: fixed;
    background: transparent;
    box-shadow: none;
     border: none;
    border-radius: 6rem;
    top: 1.1rem;
    right: 4rem;
    z-index: 5;
    display: flex;
    gap: 0.5rem;
  }
  &__theme {
  background: transparent;   // tar bort vita rutan
  box-shadow: none;          // om du har skugga
  border: none;
  background: rgba(0,0,0,0.4);
}

  &__theme-btn--light,
  &__theme-btn--dark {
    width: 2rem;
    height: 2rem; 
    border: none;
     
    cursor: pointer;
   
    display: grid;
    place-items: center;
    padding: 0;
  }
  &__theme-icon {
    width: 3.5rem;
    height: 1.5rem;
    display: block;
  }
}

/* default = DARK: visa light-knappen (månen) och göm dark-knappen (solen) */
.header__theme-btn--dark { display: none; }
.header__theme-btn--light { display: inline-grid; }

/* LIGHT mode: visa “till dark” (måne), göm “till light” (sol) */
body.light .header__theme-btn--dark { display: inline-grid; }
body.light .header__theme-btn--light { display: none; }

/* så img inte “stjäl” klick */
/*.header__theme-icon { pointer-events: none; }


/* tonDARK DEFAULT: (ingen klass) */
/*.header_theme--dark  { background: $toggle-on; }
.header_theme--light { background:$toggle-off; }

.header_theme--dark i  { color: $toggle-bg; }
.header_theme--light i { color: $toggle-off; }

/* LIGHT MODE: när body.light finns */
/*body.light .header_theme--light { background: $toggle-on; }
body.light .header_theme--dark  { background: $toggle-off; }

body.light .header_theme--light i { color: $toggle-bg; }
body.light .header_theme--dark i  { color: $toggle-off; }

/* DARK default */
.footer__container {
  background: $dark-footer;
  color: $dark-text;
}
/* LIGHT mode */
body.light .footer__container {
  background: $light-footer;   
  color: $light-text;
}
body.light .footer__container a {
  color: $light-text;
}

body.light .header__nav {
  background: $light-menu;
}

/* DARK */
body.dark {
  .header__nav a { color: $dark-text; }
}

/* LIGHT */
body.light .header__nav a {
  color: $dark-bg;      
}

/* default (dark)=> visar dark och gömmer light */
.header__logo-light { display: none;}
/* light: byt */
body.light .header__logo { display: none; }
body.light .header__logo-light { display: inline-block; }   




.header__nav-logo-light { display: none; }

body.light .header__nav-logo  { display: none; }
body.light .header__nav-logolight { display: inline-block; }











