@use '../lib/variables_mixins' as *;


.header {
    background-color: $dark-bg;
    position: relative;
    flex-direction: column; // staplar innehållet vertikalt
    justify-content: flex-end; // trycker allt längst ner
    height: 120px; // ge headern en höjd

    &__theme {
        display: flex;
        flex-direction: column; // staplar auth under ikonerna 
        align-items: flex-end; // allt till höger
        gap: 0.5rem;
        cursor: pointer;

           

        &-btn {
            color: $dark-text;
            font-size: 1rem;
            align-items: right;
            border: none;
            background-color: transparent;
            cursor: pointer;
        

            &-lightmode {
                color: $toggle-on;
                transform: scaleX(-1);
                margin-right: 20px;
                font-size: 1.3rem;
            }

            &-darkmode {
                color: $toggle-off;
                font-size: 1.3rem;
            }

            &-join {
                border: none;
                background-color: transparent;
                color: $dark-text;
                
            }
        }

        &-icons {
            display: flex;
            gap: 0.5rem;
            margin-top: 2rem;
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 270px;
        object-fit: contain;
        top: 1rem; // justera vertikalt om du vill
    }

    &__top {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    &__menu-button {
        background-color: $dark-bg;
        color: $dark-text;
        font-size: 1.4rem;
        border: none;
        cursor: pointer;
        margin-right: auto; // trycker menyn längst till vänster

    }

    &__auth-buttons {
        display: flex;
        gap: 2.5rem;
        color: $dark-text;
        margin-left: auto; // trycker sök + login längst till höger

    }

    &__nav {
        opacity: 0;
        visibility: hidden;
        transform: scale(0.95);
        transition: opacity 0.4s ease, transform 0.4s ease;
        background-color: $dark-bg;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        flex-direction: column;
        justify-content: center;
        animation: navfadeandscale .66s cubic-bezier(.53, .52, .04, 1.06) 0s 1 both;

        &--active {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        &-logo {
            position: absolute;
            top: 3rem;
            left: 52%;
            transform: translateX(-50%);
            max-width: 270px;

        }

        &-close {
            position: absolute;
            top: 2.5rem;
            left: 1.1rem;
            font-size: 2.3rem;
            border: 0;
            color: $dark-text;
            cursor: pointer;
            background-color: $dark-bg;
        }

        &-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; // centrerar vertikalt
            height: 100vh; // tar hela höjden på sidan
            margin-top: 170px;
        }

        &-item {
            margin: 0.3rem 0;
            font-size: 1.5rem;
            width: 260px;
            text-align: left;

            a {
                text-decoration: none;
                color: $dark-text;
            }
        }
    }
}

.close-menu {
    font-size: 1rem;
}

.divider-btn {
    color: rgb(118, 113, 113);
}

.fa-search {
    color: white; // ändrar färg
    font-size: 1.5rem; // ändrar storlek
    margin-right: 0.5rem; // lite spacing
    cursor: pointer; // gör den klickbar

   // @media (max-width: 500px) {
     //   font-size: 0.9rem; // mindre storlek på små skärmar
    //}
}