.header {
    background-color: #1A0000;
    position: relative;

    &__top {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 79px;
        object-fit: contain;
    }

    &__menu-button {
        background-color: #1A0000;
        color: white;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
    }

    &__nav {
opacity: 0; visibility: hidden; transform: scale(0.95); transition: opacity 0.4s ease, transform 0.4s ease;
        background-color: #0C0000;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 3;
        flex-direction: column;
        justify-content: center;
        animation: navfadeandscale .66s cubic-bezier(.53, .52, .04, 1.06) 0s 1 both;

        &--active {
            display: flex; // visas när klassen läggs till
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 1; // synlig
            visibility: visible;
            transform: scale(1); // växer till normal storlek
        }

        &-logo {
            position: absolute;
            top: 2rem; // avstånd från toppen
            left: 50%;
            transform: translateX(-50%); // centrerar horisontellt
            max-width: 200px;
        }

        &-close {
            position: absolute;
            top: 2.5rem;
            left: 1.9rem;
            font-size: 2.3rem;
            border: 0;
            color: white;
            cursor: pointer;
            background-color: #0C0000;
        }

        &-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-left: 80px;
            margin-top: -300px;
            padding: 0;
        }

        &-item {
            margin: 0.3rem 0;
            font-size: 2rem;
            width: 260px; // fast bredd för alla items 
            text-align: left; // vänsterjusterar texten inom den centrerade boxen

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    &__logomenu {
        width: 120px;
        background-color: orange;
        margin-top: -280px;
        margin-left: 200px;
    }
}

.close-menu {
    font-size: 1rem;
}